body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c2a44;
    font-family: Arial, Helvetica, sans-serif;
}

.circles{
    width: 30px;
    height: 30px;
    animation: bounce 1s 0.7s linear infinite;
    border-radius: 50%;
    margin: 10px;
}

h3{
    font-size: 30px ;
    color: #02e4e7;
}
.circle-1{
    background: #9edfdc;
}
.circle-2{
    animation-delay: 0.2s;
    background: #9edfdc;
}
.circle-3{
    animation-delay: 0.4s;
    background: #9edfdc;
}

@keyframes bounce{
    0%,
    50%,
    100%{
        transform: scale(1);
        filter: blur(0px);
     }
     25%{
            transform: scale(0.6);
    }
    75%{
        transform: scale(1.4);
        background: #02e4e7;
    }
}